# Web Framework
fastapi
uvicorn[standard]
python-multipart

# Environment Variables
python-dotenv

langchain==0.3.7
langchain-core==0.3.15
langchain-community==0.3.5
langchain-chroma==0.1.4
chromadb>=1.0.15
langchain-google-genai==2.0.4
posthog>=2.4.0,<6.0.0

# Document Loaders & Processing
unstructured
unstructured[xlsx]
openpyxl
xlrd
python-magic

# Additional Dependencies
pydantic
